<div class="jumbotron">
    <h2>Coming Soon: </h2>
    <ul>
        <li>User can track total items finished.</li>
        <li>User can track total items left to do.</li>
        <li>User can edit items and list titles.</li>
        <li>Button that will clear all completed items in a list.</li>
        <li>User can reload the page inside a list.</li>
        <li>Bug fixes.</li>
    </ul>
    <h2>Current Known Issues: </h2>
    <ul>
        <li>Naming lists the same causes the app to malfunction.</li>
        <li>Naming list items the same causes the app to malfunction.</li>
    </ul>
</div>