    <div class="jumbotron" ng-controller="DashController as vm">
        <div class="row">
            <div class="col-12-md">
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="well-custom">

                    <h2>You have finished <span class="big">{{42}}</span> items</h2>

                    <h2>You have <span class="big">{{6}}</span> items left to complete</h2>

        </div>

            <h1>Todo Lists</h1>
            <div class="row">

                <span ng-repeat="listTitle in vm.store.listTitles">
                    <div class="col-md-3">
                        <div class="todo" ng-click="vm.openList(listTitle)">
                            <h3>{{listTitle}}</h3>
                        </div>
                    </div>
                </span>
                <span>
                        <div class="col-md-3" id="add-todo-column-fix">
                            <div class="todo" id="add-todo" ng-click="vm.addList()">
                                <i class="fa fa-plus fa-5x"></i>
                            </div>
                        </div>
                    </span>
            </div>
        </div>
