    <div class="jumbotron">
        <div class="row">
            <div class="col-12-md">
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="well-custom">

                    <h2>You have finished <span class="big">{{42}}</span> items</h2>

                    <h2>You have <span class="big">{{6}}</span> items left to complete</h2>

        </div>

            <h1>Todo Lists</h1>
            <div class="row">

                <span ng-repeat="listTitle in vm.store.listTitles" class="zipper">
                    <div class="col-md-3">
                        <a ui-sref="list"><div class="todo" ng-click="vm.openList(listTitle)">
                            <h3>{{listTitle | capitalize}}</h3>
                        </div>
                            </a>
                    </div>
                </span>
                <span class="zipper">
                        <div class="col-md-3" id="add-todo-column-fix">
                            <div class="todo"
                                 id="add-todo"
                                 uib-popover-template="vm.popUpUrl"
                                 popover-title="List Title: ">

                                <i class="fa fa-plus fa-5x"></i>
                            </div>
                        </div>
                    </span>
            </div>
        </div>
