<div class="jumbotron" >
    <h1>{{vm.currentListTitle}}</h1>

    <span ng-repeat="listItem in vm.list.itemsInList" class="zipper">

            <h2  class="add-list-item"  ng-class="{strike: listItem.completed}">
                <span class="check-x" ng-click="vm.toggleCompleted(listItem)">
                    <i class="fa fa-check"></i>
                </span>
                {{listItem.item | capitalize}}
                <span class="exit-x" ng-click="vm.deleteItem(listItem)">
                    <i class="fa fa-close"></i>
                </span>
            </h2>
    </span>

    <div id="add-list-item" class="add-list-item margin-bottom" ng-click="vm.addListItem()">
        <i class="fa fa-plus fa-3x"></i>
    </div>
    <a ui-sref="dashboard"><i class="fa fa-arrow-left fa-2x"></i></a>
    <button class="btn btn-warning">Clear Completed</button>
</div>