<div class="jumbotron">
    <div class="row">
        <div class="col-md-12" ng-controller="WelcomeController as vm">
            <!--Sidebar content-->
            <h1>Welcome back, <span id="name">{{vm.name}}</span>, to the best todo ever!</h1>



        </div>

    </div><div class="row">
    <div class="col-md-2">
        <button class="btn btn-danger">Logout</button>
    </div> <div class="col-md-8"></div>
    <div class="col-md-2">
        <button class="btn btn-success">Let's Do This</button>
    </div>
</div>
</div>